fastapi
uvicorn
pydantic
numpy
python-jose[cryptography]
passlib[argon2]
argon2-cffi
sqlalchemy                  
pymysql                    
python-dotenv 
pydantic-settings             
email-validator
easyocr
tensorflow 
torch
transformers
Pillow
opencv-python
python-multipart
langchain
langchain-core
langchain-groq
langchain-milvus
langchain-huggingface
pymilvus
# # chromadb
# # sentence-transformers