<div class="h-screen flex flex-col bg-slate-950 w-full text-slate-50 relative overflow-hidden">

  <div class="fixed inset-0 z-0 pointer-events-none">
    <div class="absolute inset-0 bg-linear-to-br from-slate-900/90 via-slate-950 to-slate-950"></div>
    <div class="absolute top-[-10%] right-[-5%] w-96 h-96 bg-yellow-500/10 blur-[100px] rounded-full"></div>
  </div>

  <navbar-component class="fixed top-0 left-0 w-full z-20"></navbar-component>

  <div class="flex-1 flex flex-col w-full relative z-10 pt-16 min-h-0 overflow-hidden">
    <router-outlet></router-outlet>
  </div>

</div>
